// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Inter%20Tight:wght@400;500;600&display=swap');

$fontFamily: 'Inter Tight', sans-serif; // Шрифт за замовчуванням
$fontHalvarBreit: 'HalvarBreit', sans-serif; // Шрифт за замовчуванням
$fontSize: 16; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #333333; // Колір шрифту за замовчуванням
$grayColor: #f6f8fc; // Колір шрифту за замовчуванням
$greenColor: #c4e861; // Колір шрифту за замовчуванням
$primaryColor: #6f9afa; // Колір шрифту за замовчуванням

$bgColor: #f6f8fc; // Колір шрифту за замовчуванням

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1800;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1405;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; // Телефони L
$mobileSmall: 479.98; // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
