@font-face {font-family: HalvarBreit;font-display: swap;src: url("@fonts/HalvarBreit-Rg.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: HalvarBreit;font-display: swap;src: url("@fonts/HalvarBreit-Md.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: HalvarBreit;font-display: swap;src: url("@fonts/HalvarBreit-Bd.woff2") format("woff2");font-weight: 400;font-style: normal;}
