.header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 15;
	position: fixed;
	transition:
		box-shadow 0.3s,
		background-color 0.3s;
	// .header__container
	&__container {
		padding-block: 8px;
		transition: padding-block 0.3s;
		@media (max-width: toEm($mobile)) {
			padding-block: 16px;
		}
	}
	// .header__body
	&__body {
		overflow: hidden;
		align-items: center;
		@media (min-width: toEm($tablet)) {
			display: grid;
			grid-template-columns: 185px auto 185px;
			box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
		}
		@media (max-width: toEm($tablet)) {
			display: flex;
			justify-content: space-between;
		}
		@media (min-width: toEm($mobile)) {
			border-radius: 6px;
			padding-block: 6px;
			padding-left: 15px;
			padding-right: 6px;
			background-color: #fff;
		}
	}
	// .header__logo
	&__logo {
		a {
			gap: 9px;
			flex-shrink: 0;
			font-size: 28px;
			align-items: center;
			color: $primaryColor;
			display: inline-flex;
			transition: color 0.3s;
			text-transform: uppercase;
			font-family: $fontBeiruti;
			&::before {
				font-size: 24px;
			}
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
				}
			}
		}
	}
	// .header__action
	&__action {
		gap: 8px;
		display: flex;
		flex-shrink: 0;
		align-items: center;
	}
	// .header__button
	&__button {
		&.button {
			padding: 0;
		}
		@media (min-width: toEm($mobile)) {
			width: 100%;
			&::before {
				display: none;
			}
		}
		@media (max-width: toEm($tablet)) {
			&.button {
				padding-inline: 30px;
			}
		}
		@media (max-width: toEm($mobile)) {
			&.button {
				padding: 0;
				aspect-ratio: 1;
			}
			span {
				display: none;
			}
		}
	}
	// .header__icon
	&__icon {
		height: 42px;
		display: flex;
		aspect-ratio: 1;
		border-radius: 7px;
		align-items: center;
		justify-content: center;
		background-color: $primaryColor;
		@media (min-width: toEm($mobile)) {
			display: none;
		}
	}
}
