<header
	data-fls-header
	data-fls-header-scroll
	data-fls-header-scroll-show
	class="header"
>
	<div class="header__container">
		<div class="header__body">
			<div class="header__logo">
				<a
					href="#"
					class="--icon-logo"
				>
					Nomi
				</a>
			</div>
			<include
				src="@components/layout/menu/menu.html"
				locals='{"active":"[[active]]"}'
			></include>
			<div class="header__action">
				<a
					data-fls-button
					target="_blank"
					href="https://web.telegram.org/"
					class="header__button --icon-telegram button button--mn"
				>
					<span>Связаться с нами</span>
				</a>
				<button
					type="button"
					data-fls-menu
					class="header__icon"
				>
					<div class="icon-menu">
						<span></span>
					</div>
				</button>
			</div>
		</div>
	</div>
</header>
