.page {
	// .page__decide
	&__decide {
	}
	// .page__faq
	&__faq {
	}
	// .page__rates
	&__rates {
	}
	// .page__get
	&__get {
	}
	// .page__whom
	&__whom {
	}
}
// Whom
.whom {
	::-webkit-scrollbar {
		display: none;
	}
	position: relative;
	@media (min-width: toEm($tablet)) {
		padding-inline: 25px;
	}
	// .whom__wrapper
	&__wrapper {
		overflow: hidden;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
		@include adaptiveValue("padding-inline", 50, 25, 2, 1800, 991.98);
		@media (min-width: toEm($tablet)) {
			display: flex;
			margin-top: 25px;
			border-radius: 35px;
			align-items: center;
			justify-content: center;
			min-height: calc(100vh - 50px);
		}
		@media (max-width: toEm($tablet)) {
			padding-top: 115px;
			padding-bottom: 80px;
		}
	}
	// .whom__container
	&__container {
		@media (min-width: toEm($tablet)) {
			width: 100%;
			margin-inline: auto;
		}
	}
	// .whom__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
		@media (min-width: toEm($tablet)) {
			text-align: center;
		}
	}
	// .whom__body
	&__body {
		@media (min-width: toEm($tablet)) {
			min-height: 420px;
			position: relative;
		}
		@media (max-width: toEm($tablet)) {
			display: none;
		}
	}
	// .whom__section
	&__section {
		inset: 0;
		width: 100%;
		display: grid;
		padding: 12px;
		position: absolute;
		border-radius: 20px;
		align-items: center;
		background-color: $grayColor;
		grid-template-columns: repeat(2, 1fr);
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	}
	// .whom__decore
	&__decore {
		height: 100%;
		display: flex;
		position: relative;
		align-items: center;
		border-radius: 13px;
		justify-content: center;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
		background: linear-gradient(179deg, #759efa 0%, #b0c8ff 100%);
		&::before {
			color: #fff;
			opacity: 0.24;
			@include adaptiveValue("font-size", 300, 150);
		}
		span {
			top: 14px;
			right: 14px;
			color: #fff;
			opacity: 0.52;
			font-size: 20px;
			font-weight: 600;
			line-height: 1.18;
			position: absolute;
			letter-spacing: -0.32px;
		}
	}
	// .whom__img-decore
	&__img-decore {
		width: 100%;
		bottom: -100px;
		position: absolute;
	}
	// .whom__tabs
	&__tabs {
		@media (min-width: toEm($tablet)) {
			display: none;
		}
	}
}
.about-whom {
	max-width: 370px;
	padding-right: 25px;
	@include adaptiveValue("margin-left", 68, 30, 2, 1800, 991.98);
	> * {
		margin-bottom: 22px;
	}
	> *:last-child {
		margin-bottom: 0;
	}
	// .about-whom__subtitle
	&__subtitle {
		font-size: 29px;
		font-weight: 600;
		line-height: 1.18;
		letter-spacing: -0.32px;
	}
	// .about-whom__text
	&__text {
		margin-bottom: 45px;
	}
}
.tabs-whom {
	// .tabs-whom__navigation
	&__navigation {
		gap: 23px;
		width: 100%;
		display: flex;
		overflow: auto;
		white-space: nowrap;
		justify-content: space-between;
		border-bottom: 1px solid rgba(#000, 0.14);
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .tabs-whom__title
	&__title {
		opacity: 0.5;
		position: relative;
		padding-bottom: 8px;
		&::before {
			left: 0;
			width: 0;
			bottom: 0;
			content: "";
			height: 1px;
			position: absolute;
			background-color: $primaryColor;
		}
		&.--tab-active {
			opacity: 1;
			font-weight: 500;
			color: $primaryColor;
			&::before {
				width: 100%;
			}
		}
	}
}
.body-tabs-whom {
	// .body-tabs-whom__inner
	&__inner {
		padding: 5px;
		border-radius: 8px;
		background-color: $grayColor;
		&:not(:last-child) {
			margin-bottom: 7px;
		}
	}
	// .body-tabs-whom__decore
	&__decore {
		display: flex;
		position: relative;
		border-radius: 5px;
		align-items: center;
		aspect-ratio: 16 / 9;
		justify-content: center;
		background: linear-gradient(180deg, #759efa 0%, #b0c8ff 100%);
		&::before {
			color: #fff;
			opacity: 0.24;
			position: absolute;
			@include adaptiveValue("font-size", 170, 100, 0, 991.98, 320);
		}
		span {
			top: 14px;
			right: 14px;
			color: #fff;
			opacity: 0.52;
			font-size: 15px;
			font-weight: 600;
			line-height: 1.18;
			position: absolute;
			letter-spacing: -0.32px;
		}
		img {
			bottom: -20px;
			position: absolute;
			@include adaptiveValue("padding-inline", 120, 30, 0, 991.98, 320);
		}
	}
	// .body-tabs-whom__about
	&__about {
		text-wrap: balance;
		padding: 27px 14px 40px 14px;
		@media (max-width: toEm($mobileSmall)) {
			padding: 20px 12px 30px 12px;
		}
	}
	// .body-tabs-whom__title
	&__title {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.18;
		letter-spacing: -0.32px;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 14, 0, 991.98, 320);
		}
	}
}
// Decide
.decide {
	@include adaptiveValue("padding-top", 68, 82);
	@include adaptiveValue("padding-bottom", 132, 72);
	// .decide__title
	&__title {
		text-wrap: balance;
		@media (min-width: toEm($mobile)) {
			text-align: center;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 28);
		}
	}
	// .decide__slider
	&__slider {
		overflow: visible;
	}
	// .decide__wrapper
	&__wrapper {
		@media (min-width: toEm($mobile)) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
			@include adaptiveValue("gap", 30, 15, 2, $containerWidth, 767.98);
		}
	}
}
.item-decide {
	padding: 22px;
	overflow: hidden;
	border-radius: 19px;
	background-color: #fff;
	transition: box-shadow 0.3s;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	@media (min-width: toEm($mobile)) {
		@media (any-hover: hover) {
			&:hover {
				box-shadow:
					rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
					rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
			}
		}
	}
	@media (max-width: toEm($mobile)) {
		padding: 15px;
		border-radius: 12px;
	}
	img {
		width: 100%;
		margin-bottom: 30px;
	}
	// .item-decide__content
	&__content {
		gap: 16px;
		display: grid;
		text-wrap: balance;
		@media (max-width: toEm($mobile)) {
			gap: 10px;
		}
	}
	// .item-decide__title
	&__title {
		font-weight: 600;
		line-height: 1.18;
		letter-spacing: -0.32px;
		@include adaptiveValue("font-size", 21, 16);
	}
}
// Get
.get {
	overflow: hidden;
	@include adaptiveValue("padding-top", 154, 50);
	::-webkit-scrollbar {
		display: none;
	}
	// .get__container
	&__container {
		position: relative;
		&::before {
			right: 0;
			bottom: 0;
			content: "";
			z-index: -1;
			translate: 50% 50%;
			position: absolute;
			background: url("@img/get/decore.svg") 0 0 / contain no-repeat;
			@include adaptiveValue("width", 900, 240);
			@include adaptiveValue("height", 900, 240);
			@include adaptiveValue("right", 0, 60, 2, $containerWidth, 767.98);
			@include adaptiveValue("bottom", 0, 60, 2, $containerWidth, 767.98);
			@media (max-width: toEm($mobile)) {
				right: 30px;
				translate: 0 0;
				@include adaptiveValue("bottom", 60, 0, 0, 767.98, 320);
			}
		}
	}
	// .get__title
	&__title {
		display: flex;
		row-gap: 25px;
		align-items: center;
		flex-direction: column;
		&::before {
			opacity: 0.6;
			color: $primaryColor;
			@include adaptiveValue("font-size", 48, 23);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 85, 20);
		}
		@media (min-width: toEm($mobile)) {
			br {
				display: none;
			}
		}
		@media (max-width: toEm($mobile)) {
			gap: 15px;
			align-items: start;
		}
	}
}
.tabs-get {
	// .tabs-get__navigation
	&__navigation {
		@media (min-width: toEm($mobile)) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 80, 45, 2, $containerWidth, 767.98);
			}
		}
		@media (max-width: toEm($mobile)) {
			gap: 23px;
			width: 100%;
			display: flex;
			overflow: auto;
			white-space: nowrap;
			border-bottom: 1px solid rgba(#000, 0.14);
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	// .tabs-get__title
	&__title {
		@media (min-width: toEm($mobile)) {
			aspect-ratio: 1;
			position: relative;
			border-radius: 50%;
			transition: color 0.3s;
			letter-spacing: -0.32px;
			&::before {
				top: 0;
				left: 0;
				scale: 1.1;
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				border-radius: 50%;
				border: 1px solid rgba($mainColor, 0.33);
				transition:
					border 0.3s,
					box-shadow 0.3s,
					background-color 0.3s;
			}
			&.--tab-active {
				z-index: 2;
				color: #fff;
				pointer-events: none;
				&::before {
					background-color: $primaryColor;
					border: 1px solid $primaryColor;
					box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					z-index: 1;
					&::before {
						background-color: #fff;
						box-shadow:
							rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
							rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
					}
				}
			}
		}
		@media (max-width: toEm($mobile)) {
			opacity: 0.5;
			position: relative;
			padding-bottom: 8px;
			&::before {
				left: 0;
				width: 0;
				bottom: 0;
				content: "";
				height: 1px;
				position: absolute;
				background-color: $primaryColor;
			}
			&.--tab-active {
				opacity: 1;
				font-weight: 500;
				color: $primaryColor;
				&::before {
					width: 100%;
				}
			}
		}
	}
	// .tabs-get__inner-title
	&__inner-title {
		@media (min-width: toEm($mobile)) {
			display: flex;
			line-height: 1.35;
			position: relative;
			flex-direction: column;
			@include adaptiveValue("font-size", 20, 14, 2, $containerWidth, 767.98);
			span {
				font-weight: 400;
				margin-bottom: -3px;
				letter-spacing: -0.42px;
				font-family: $fontHalvarBreit;
				@include adaptiveValue("font-size", 74, 34, 2, $containerWidth, 767.98);
			}
		}
		@media (max-width: toEm($mobile)) {
			font-size: 17px;
			line-height: 1.35;
			letter-spacing: -0.32px;
			span {
				display: none;
			}
		}
	}
}
.body-tabs-get {
	// .body-tabs-get__inner
	&__inner {
		display: grid;
		align-items: start;
		@media (min-width: toEm($mobile)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toEm($mobile)) {
			gap: 35px;
		}
	}
	// .body-tabs-get__about
	&__about {
		display: grid;
		text-wrap: balance;
		@include adaptiveValue("gap", 24, 14);
	}
	// .body-tabs-get__title
	&__title {
		@media (max-width: toEm($mobile)) {
			max-width: 400px;
		}
	}
	// .body-tabs-get__text
	&__text {
		max-width: 340px;
	}
}
// Rates
.rates {
	@include adaptiveValue("padding-top", 66, 40);
	// .rates__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 20);
		}
	}
	// .rates__cards
	&__cards {
		gap: 20px;
		display: flex;
		flex-wrap: wrap;
	}
}
.card-rates {
	padding: 8px;
	flex: 1 1 350px;
	border-radius: 24px;
	background-color: #fff;
	transition: box-shadow 0.3s;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	&:nth-child(2) {
		color: #fff;
		background: $primaryColor url("@img/rate-decore.svg") right bottom no-repeat;
		.card-rates__head {
			background-color: #759efa;
			border: 1px solid rgba(231, 235, 243, 0.37);
			.--text {
				color: #fff;
				font-weight: 500;
			}
		}
	}
	@media (min-width: toEm($mobile)) {
		@media (any-hover: hover) {
			&:hover {
				box-shadow:
					rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
					rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
			}
		}
	}
	// .card-rates__head
	&__head {
		border-radius: 15px;
		border: 1px solid #e7ebf3;
		background-color: $grayColor;
		padding: 40px 25px 25px 25px;
		> * {
			margin-bottom: 15px;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		&:not(:last-child) {
			margin-bottom: 18px;
		}
		@media (max-width: toEm($mobile)) {
			padding: 29px 17px 17px 17px;
		}
		@media (max-width: toEm($mobileSmall)) {
			padding: 20px 14px 14px 14px;
		}
	}
	// .card-rates__title
	&__title {
		margin-bottom: 11px;
	}
	// .card-rates__text
	&__text {
		margin-bottom: 18px;
	}
	// .card-rates__price
	&__price {
		font-weight: 500;
		letter-spacing: -0.48px;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 49, 30);
	}
	// .card-rates__button
	&__button {
		&.button--white {
			@media (any-hover: hover) {
				&:hover {
					color: $mainColor;
					background-color: #fff;
					box-shadow:
						rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
						rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
				}
			}
		}
	}
	// .card-rates__below
	&__below {
		padding-inline: 25px;
		padding-bottom: 20px;
		@media (max-width: toEm($mobile)) {
			padding-inline: 20px;
		}
		@media (max-width: toEm($mobileSmall)) {
			padding-inline: 14px;
		}
	}
	// .card-rates__label
	&__label {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.35;
		letter-spacing: -0.32px;
		&:not(:last-child) {
			margin-bottom: 7px;
		}
		@media (max-width: toEm($mobileSmall)) {
			font-size: 13px;
		}
	}
	// .card-rates__item-list
	&__item-list {
		gap: 7px;
		display: flex;
		font-size: 15px;
		line-height: 2.06;
		align-items: center;
		letter-spacing: -0.32px;
		&::before {
			height: 12px;
			display: flex;
			min-width: 12px;
			font-size: 6.5px;
			color: $mainColor;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			background-color: #c4e861;
		}
		@media (max-width: toEm($mobileSmall)) {
			font-size: 13px;
		}
	}
}
// Faq
.faq {
	padding-block: 70px;
	// .faq__container
	&__container {
		@media (max-width: toEm($mobile)) {
			margin-inline: -15px;
		}
	}
	// .faq__body
	&__body {
		border-radius: 35px;
		padding-inline: 30px;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
		@include adaptiveValue("padding-top", 78, 27);
		@include adaptiveValue("padding-bottom", 158, 67);
		@media (max-width: toEm($mobile)) {
			border-radius: 0;
			padding-inline: 15px;
		}
	}
	// .faq__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 26);
		}
	}
	// .faq__spollers
	&__spollers {
		margin: 0 auto;
		max-width: 1100px;
	}
}
