<script
	type="module"
	src="@components/pages/home/home.js"
></script>
<link
	rel="stylesheet"
	href="@components/pages/home/home.scss"
/>

<main
	data-fls-gsap
	class="page page--home"
>
	<section class="page__hero hero">
		<div class="hero__container">
			<div class="hero__about about-hero">
				<h1 class="about-hero__title --title">
					Запустите меню и заказы в Telegram <br> <span>без приложений и программистов</span>
				</h1>
				<div class="about-hero__text --text">
					<p>
						Nomi позволяет гостям ресторанов смотреть меню и оплачивать заказы в Telegram без ожидания персонала
					</p>
				</div>
				<a data-fls-button href="#" class="about-hero__button button --icon-telegram button--lg">Начать бесплатно</a>
				<img class="about-hero__image" src="@img/hero/steps.png" alt="Image">
			</div>
			<div class="hero__mockup mockup">
				<div class="mockup__stand">
					<div class="mockup__phone phone-mockup">
						<img class="phone-mockup__iphone" src="@img/hero/phone.png" alt="Image">
						<img class="phone-mockup__decore" src="@img/hero/decore.svg" alt="Image">
						<div class="phone-mockup__wrapper">
							<div class="phone-mockup__head">
								<span>Все</span>
								<span>Завтраки</span>
								<span>Салаты</span>
								<span>Десерты</span>
							</div>
							<div class="phone-mockup__content">
								<div class="phone-mockup__block">
									<span>Салаты</span>
									<div class="phone-mockup__items">
										<img src="@img/hero/dishes/active-01.svg" alt="Image">
										<img src="@img/hero/dishes/no-act-01.svg" alt="Image">
									</div>
								</div>
								<div class="phone-mockup__block">
									<span>Дессерты</span>
									<div class="phone-mockup__items">
										<div class="phone-mockup__change-items change-items-one">
											<img src="@img/hero/dishes/no-act-02.svg" alt="Image">
											<img src="@img/hero/dishes/active-02.svg" alt="Image">
										</div>
										<img src="@img/hero/dishes/no-act-03.svg" alt="Image">
										<img src="@img/hero/dishes/no-act-04.svg" alt="Image">
										<img src="@img/hero/dishes/no-act-05.svg" alt="Image">
										<div class="phone-mockup__change-items change-items-two">
											<img src="@img/hero/dishes/no-act-06.svg" alt="Image">
											<img src="@img/hero/dishes/active-03.svg" alt="Image">
										</div>
										<img src="@img/hero/dishes/no-act-07.svg" alt="Image">
										<img src="@img/hero/dishes/no-act-08.svg" alt="Image">
										<img src="@img/hero/dishes/no-act-09.svg" alt="Image">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mockup__rack">
						<img src="@img/hero/stand.png" alt="Image">
					</div>
				</div>
				<div class="mockup__table table-mockup">
					<img class="table-mockup__image" src="@img/hero/table.png" alt="Image">
					<div class="table-mockup__change">
						<img class="table-mockup__img-change change-active" src="@img/hero/01.png" alt="Image">
						<img class="table-mockup__img-change" src="@img/hero/02.png" alt="Image">
						<img class="table-mockup__img-change" src="@img/hero/03.png" alt="Image">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page__whom whom">
		<div class="whom__wrapper">
			<div class="whom__container">
				<h2 class="whom__title --title">Для кого подходит</h2>
				<div class="whom__body">
					<div class="whom__section">
						<div class="whom__about about-whom">
							<h3 class="about-whom__subtitle">Для новых заведений</h3>
							<div class="about-whom__text --text">
								<p>
									Быстро выходите в цифровой формат: подключение за 1–2 дня,
									оформление меню, интеграции и запуск мы берём на себя
								</p>
							</div>
							<a
								data-fls-button
								href="#"
								class="about-whom__button button --icon-telegram button--lg"
							>
								Открыть демо в Telegram
							</a>
						</div>
						<div class="whom__decore --icon-logo">
							<span>01</span>
							<img
								class="whom__img-decore layer-whom"
								src="@img/whom/01-layer.png"
								alt="Image"
							/>
							<img
								class="whom__img-decore"
								src="@img/whom/01.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="whom__section">
						<div class="whom__about about-whom">
							<h3 class="about-whom__subtitle">Для небольших кафе</h3>
							<div class="about-whom__text --text">
								<p>
									Готовый инструмент для онлайн-заказов и коммуникации с
									гостями, без затрат на разработку и техническую поддержку
								</p>
							</div>
							<a
								data-fls-button
								href="#"
								class="about-whom__button button --icon-telegram button--lg"
							>
								Открыть демо в Telegram
							</a>
						</div>
						<div class="whom__decore --icon-logo">
							<span>02</span>
							<img
								class="whom__img-decore layer-whom"
								src="@img/whom/02-layer.png"
								alt="Image"
							/>
							<img
								class="whom__img-decore"
								src="@img/whom/02.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="whom__section">
						<div class="whom__about about-whom">
							<h3 class="about-whom__subtitle">Для ресторанов и сетей</h3>
							<div class="about-whom__text --text">
								<p>
									Управляйте всеми точками в одном кабинете: централизуйте меню,
									контролируйте заказы, аналитику и работу персонала
								</p>
							</div>
							<a
								data-fls-button
								href="#"
								class="about-whom__button button --icon-telegram button--lg"
							>
								Открыть демо в Telegram
							</a>
						</div>
						<div class="whom__decore --icon-logo">
							<span>03</span>
							<img
								class="whom__img-decore layer-whom"
								src="@img/whom/03-layer.png"
								alt="Image"
							/>
							<img
								class="whom__img-decore"
								src="@img/whom/03.png"
								alt="Image"
							/>
						</div>
					</div>
				</div>
				<div
					data-fls-tabs
					data-fls-tabs-animate
					class="whom__tabs tabs-whom"
				>
					<nav
						data-fls-tabs-titles
						class="tabs-whom__navigation"
					>
						<button
							type="button"
							class="tabs-whom__title --tab-active"
						>
							Новые заведения
						</button>
						<button
							type="button"
							class="tabs-whom__title"
						>
							Кафе
						</button>
						<button
							type="button"
							class="tabs-whom__title"
						>
							Рестораны и сети
						</button>
					</nav>
					<div
						data-fls-tabs-body
						class="tabs-whom__content"
					>
						<div class="tabs-whom__body body-tabs-whom">
							<div class="body-tabs-whom__inner">
								<div class="body-tabs-whom__decore --icon-logo">
									<span>01</span>
									<img
										class="body-tabs-whom__img-decore layer-whom"
										src="@img/whom/01-layer.png"
										alt="Image"
									/>
									<img
										class="body-tabs-whom__img-decore"
										src="@img/whom/01.png"
										alt="Image"
									/>
								</div>
								<div class="body-tabs-whom__about">
									<h3 class="body-tabs-whom__title">Для новых заведений</h3>
									<div class="body-tabs-whom__text --text">
										<p>
											Быстро выходите в цифровой формат: подключение за 1–2 дня,
											оформление меню, интеграции и запуск мы берём на себя
										</p>
									</div>
								</div>
							</div>
							<a
								data-fls-button
								href="#"
								class="body-tabs-whom__button button button--fw --icon-telegram button--lg"
							>
								Открыть демо в Telegram
							</a>
						</div>
						<div class="tabs-whom__body body-tabs-whom">
							<div class="body-tabs-whom__inner">
								<div class="body-tabs-whom__decore --icon-logo">
									<span>02</span>
									<img
										class="body-tabs-whom__img-decore layer-whom"
										src="@img/whom/02-layer.png"
										alt="Image"
									/>
									<img
										class="body-tabs-whom__img-decore"
										src="@img/whom/02.png"
										alt="Image"
									/>
								</div>
								<div class="body-tabs-whom__about">
									<h3 class="body-tabs-whom__title">Для небольших кафе</h3>
									<div class="body-tabs-whom__text --text">
										<p>
											Готовый инструмент для онлайн-заказов и коммуникации с
											гостями, без затрат на разработку и техническую поддержку
										</p>
									</div>
								</div>
							</div>
							<a
								data-fls-button
								href="#"
								class="body-tabs-whom__button button button--fw --icon-telegram button--lg"
							>
								Открыть демо в Telegram
							</a>
						</div>
						<div class="tabs-whom__body body-tabs-whom">
							<div class="body-tabs-whom__inner">
								<div class="body-tabs-whom__decore --icon-logo">
									<span>03</span>
									<img
										class="body-tabs-whom__img-decore layer-whom"
										src="@img/whom/03-layer.png"
										alt="Image"
									/>
									<img
										class="body-tabs-whom__img-decore"
										src="@img/whom/03.png"
										alt="Image"
									/>
								</div>
								<div class="body-tabs-whom__about">
									<h3 class="body-tabs-whom__title">Для ресторанов и сетей</h3>
									<div class="body-tabs-whom__text --text">
										<p>
											Управляйте всеми точками в одном кабинете: централизуйте
											меню, контролируйте заказы, аналитику и работу персонала
										</p>
									</div>
								</div>
							</div>
							<a
								data-fls-button
								href="#"
								class="body-tabs-whom__button button button--fw --icon-telegram button--lg"
							>
								Открыть демо в Telegram
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page__decide decide">
		<div class="decide__container">
			<h2 class="decide__title --title">Какие задачи мы решаем</h2>
			<div
				data-fls-slider
				class="decide__slider swiper"
			>
				<div class="decide__wrapper swiper-wrapper">
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/01.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Сложно и дорого запустить своё приложение или сайт
							</h3>
							<div class="item-decide__text --text">
								<p>
									Разработка занимает месяцы, требует команды и бюджета. Из-за
									этого большинство заведений остаются без цифрового канала
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/02.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Отсутствие прямого контакта с гостем
							</h3>
							<div class="item-decide__text --text">
								<p>
									Гости заказывают через офлайн-меню или агрегаторов - данные о
									них теряются, лояльность не растёт
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/03.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Нет своего канала коммуникации с клиентами
							</h3>
							<div class="item-decide__text --text">
								<p>
									Оффлайн-точки и соцсети не позволяют делать точечные
									уведомления и рассылки
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/04.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Невозможно быстро обновлять меню и акции
							</h3>
							<div class="item-decide__text --text">
								<p>
									Заведения зависят от дизайнера и верстальщика. Обновления
									растягиваются на дни
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/05.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">Мало повторных визитов</h3>
							<div class="item-decide__text --text">
								<p>
									Легче удерживать существующего гостя, чем привлекать нового -
									но инструментов нет
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/06.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Гости ждут официанта и не любят звонить
							</h3>
							<div class="item-decide__text --text">
								<p>
									Нет удобного способа бронировать, оплачивать или делать заказ
									заранее
								</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="page__work work">
		<div class="work__inner">
			<div class="work__container">
				<div class="work__head">
					<h2 class="work__title --title">
						Как это
						<br />
						работает
					</h2>
					<div class="work__text --text">
						<p>Запуск цифрового меню и заказов в Telegram за несколько шагов</p>
					</div>
				</div>
				<div class="work__flow flow-work">
					<div class="flow-work__item">
						<div class="flow-work__inner-item">
							<div class="flow-work__title">
								<span>01</span>
								Вход
							</div>
							<img
								class="flow-work__image"
								src="@img/work/01.png"
								alt="Image"
							/>
							<div class="flow-work__text flow-work__text--min --text">
								<p>
									Посетитель наводит камеру телефона на QR-код на столике или
									заходит в вашего бота напрямую через Telegram
								</p>
							</div>
						</div>
					</div>
					<div class="flow-work__item">
						<div class="flow-work__inner-item">
							<div class="flow-work__title">
								<span>02</span>
								Выбор
								<br />
								формата заказа
							</div>
							<img
								class="flow-work__image"
								src="@img/work/02.png"
								alt="Image"
							/>
							<div class="flow-work__text --text">
								<p>
									Гость выбирает, как он хочет получить свой заказ: забрать
									самовывозом, оформить доставку или просто забронировать
									столик. Все варианты собраны в одном месте
								</p>
							</div>
						</div>
					</div>
					<div class="flow-work__item">
						<div class="flow-work__inner-item">
							<div class="flow-work__title">
								<span>03</span>
								Выбор блюд
							</div>
							<img
								class="flow-work__image"
								src="@img/work/03.png"
								alt="Image"
							/>
							<div class="flow-work__text flow-work__text--min --text">
								<p>
									Интуитивный интерфейс, красивые карточки блюд, фильтры по
									категориям и быстрый выбор
								</p>
							</div>
						</div>
					</div>
					<div class="flow-work__item">
						<div class="flow-work__inner-item">
							<div class="flow-work__title">
								<span>04</span>
								Оплата
							</div>
							<img
								class="flow-work__image flow-work__image--bm"
								src="@img/work/04.png"
								alt="Image"
							/>
							<div class="flow-work__text --text">
								<p>
									Оплата происходит через интеграцию с вашим банком. Все
									средства сразу поступают на ваш счёт, без комиссий посредников
									и без сложных настроек
								</p>
							</div>
						</div>
					</div>
					<div class="flow-work__item">
						<div class="flow-work__inner-item">
							<div class="flow-work__title">
								<span>05</span>
								Уведомление
							</div>
							<img
								class="flow-work__image flow-work__image--bm"
								src="@img/work/05.png"
								alt="Image"
							/>
							<div class="flow-work__text flow-work__text--min --text">
								<p>
									Заказ автоматически появляется у вас в панели управления
									или кассовой системе
								</p>
							</div>
						</div>
					</div>
					<div class="flow-work__item">
						<div class="flow-work__inner-item">
							<div class="flow-work__title">
								<span>06</span>
								Отслеживание
							</div>
							<img
								class="flow-work__image"
								src="@img/work/06.png"
								alt="Image"
							/>
							<div class="flow-work__text --text">
								<p>
									В реальном времени пользователь видит, что происходит с его
									заказом: принят, готовится, готов, без вопросов, звонков и
									ожидания. Максимально удобно для обеих сторон
								</p>
							</div>
						</div>
					</div>
				</div>
				<div
					data-fls-slider
					class="work__slider swiper"
				>
					<div class="work__wrapper swiper-wrapper">
						<div class="work__slide slide-work swiper-slide">
							<div class="slide-work__head --icon-logo">
								<span>01</span>
								<img
									src="@img/work/01.png"
									alt="Image"
								/>
							</div>
							<div class="slide-work__content">
								<h3 class="slide-work__title">Вход напрямую через Telegram</h3>
								<div class="slide-work__text --text">
									<p>
										Посетитель наводит камеру телефона на QR-код на столике или
										заходит в вашего бота напрямую через Telegram
									</p>
								</div>
							</div>
						</div>
						<div class="work__slide slide-work swiper-slide">
							<div class="slide-work__head --icon-logo">
								<span>02</span>
								<img
									src="@img/work/02.png"
									alt="Image"
								/>
							</div>
							<div class="slide-work__content">
								<h3 class="slide-work__title">Выбор формата заказа</h3>
								<div class="slide-work__text --text">
									<p>
										Гость выбирает, как он хочет получить свой заказ: забрать
										самовывозом, оформить доставку или просто забронировать
										столик. Все варианты собраны в одном месте
									</p>
								</div>
							</div>
						</div>
						<div class="work__slide slide-work swiper-slide">
							<div class="slide-work__head --icon-logo">
								<span>03</span>
								<img
									src="@img/work/03.png"
									alt="Image"
								/>
							</div>
							<div class="slide-work__content">
								<h3 class="slide-work__title">Выбор блюд</h3>
								<div class="slide-work__text --text">
									<p>
										Интуитивный интерфейс, красивые карточки блюд, фильтры по
										категориям и быстрый выбор
									</p>
								</div>
							</div>
						</div>
						<div class="work__slide slide-work swiper-slide">
							<div class="slide-work__head --icon-logo">
								<span>04</span>
								<img
									src="@img/work/04.png"
									alt="Image"
								/>
							</div>
							<div class="slide-work__content">
								<h3 class="slide-work__title">Оплата</h3>
								<div class="slide-work__text --text">
									<p>
										Оплата происходит через интеграцию с вашим банком. Все
										средства сразу поступают на ваш счёт, без комиссий
										посредников и без сложных настроек
									</p>
								</div>
							</div>
						</div>
						<div class="work__slide slide-work swiper-slide">
							<div class="slide-work__head --icon-logo">
								<span>05</span>
								<img
									src="@img/work/05.png"
									alt="Image"
								/>
							</div>
							<div class="slide-work__content">
								<h3 class="slide-work__title">Уведомление</h3>
								<div class="slide-work__text --text">
									<p>
										Заказ автоматически появляется у вас в панели управления
										или кассовой системе
									</p>
								</div>
							</div>
						</div>
						<div class="work__slide slide-work swiper-slide">
							<div class="slide-work__head --icon-logo">
								<span>06</span>
								<img
									src="@img/work/06.png"
									alt="Image"
								/>
							</div>
							<div class="slide-work__content">
								<h3 class="slide-work__title">Отслеживание</h3>
								<div class="slide-work__text --text">
									<p>
										В реальном времени пользователь видит, что происходит с его
										заказом: принят, готовится, готов, без вопросов, звонков и
										ожидания. Максимально удобно для обеих сторон
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page__get get">
		<div class="get__container">
			<h2 class="get__title --title --icon-logo">
				Что вы
				<br />
				получаете
			</h2>
			<div
				data-fls-tabs
				data-fls-tabs-animate
				class="get__tabs tabs-get"
			>
				<nav
					data-fls-tabs-titles
					class="tabs-get__navigation"
				>
					<button
						type="button"
						class="tabs-get__title --tab-active"
					>
						<div class="tabs-get__inner-title">
							<span>1</span>
							Мини-приложение
						</div>
					</button>
					<button
						type="button"
						class="tabs-get__title"
					>
						<div class="tabs-get__inner-title">
							<span>2</span>
							База клиентов
						</div>
					</button>
					<button
						type="button"
						class="tabs-get__title"
					>
						<div class="tabs-get__inner-title">
							<span>3</span>
							Рост бизнеса
						</div>
					</button>
					<button
						type="button"
						class="tabs-get__title"
					>
						<div class="tabs-get__inner-title">
							<span>4</span>
							Управление
						</div>
					</button>
					<button
						type="button"
						class="tabs-get__title"
					>
						<div class="tabs-get__inner-title">
							<span>5</span>
							Уведомления
						</div>
					</button>
					<button
						type="button"
						class="tabs-get__title"
					>
						<div class="tabs-get__inner-title">
							<span>6</span>
							Интеграции
						</div>
					</button>
				</nav>
				<div
					data-fls-tabs-body
					class="tabs-get__content"
				>
					<div class="tabs-get__body body-tabs-get">
						<div class="body-tabs-get__inner">
							<div class="body-tabs-get__about">
								<div class="body-tabs-get__title --subtitle">
									Ваше собственное мини-приложение за 1–2 дня
								</div>
								<div class="body-tabs-get__text --text">
									<p>
										Готовый цифровой канал: меню, заказы, оплата, бронирование -
										сразу после подключения
									</p>
								</div>
							</div>
							<img
								src="@img/get/01.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="tabs-get__body body-tabs-get">
						<div class="body-tabs-get__inner">
							<div class="body-tabs-get__about">
								<div class="body-tabs-get__title --subtitle">
									Базу своих гостей внутри Telegram
								</div>
								<div class="body-tabs-get__text --text">
									<p>
										Прозрачность и контроль, вы видите этапы выполнения от
										начала до выдачи.
									</p>
								</div>
							</div>
							<img
								src="@img/get/02.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="tabs-get__body body-tabs-get">
						<div class="body-tabs-get__inner">
							<div class="body-tabs-get__about">
								<div class="body-tabs-get__title --subtitle">
									Инструменты роста и повторных заказов
								</div>
								<div class="body-tabs-get__text --text">
									<p>
										Рассылки в Telegram, акции, промокоды, персональные
										предложения
									</p>
								</div>
							</div>
							<img
								src="@img/get/03.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="tabs-get__body body-tabs-get">
						<div class="body-tabs-get__inner">
							<div class="body-tabs-get__about">
								<div class="body-tabs-get__title --subtitle">
									Удобное управление меню и доставкой
								</div>
								<div class="body-tabs-get__text --text">
									<p>
										Меняйте блюда, цены, зоны доставки, фото в пару кликов, без
										техспециалистов
									</p>
								</div>
							</div>
							<img
								src="@img/get/04.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="tabs-get__body body-tabs-get">
						<div class="body-tabs-get__inner">
							<div class="body-tabs-get__about">
								<div class="body-tabs-get__title --subtitle">
									Уведомления о каждом заказе в реальном времени
								</div>
								<div class="body-tabs-get__text --text">
									<p>
										Прозрачность и контроль, вы видите этапы выполнения от
										начала до выдачи.
									</p>
								</div>
							</div>
							<img
								src="@img/get/05.png"
								alt="Image"
							/>
						</div>
					</div>
					<div class="tabs-get__body body-tabs-get">
						<div class="body-tabs-get__inner">
							<div class="body-tabs-get__about">
								<div class="body-tabs-get__title --subtitle">
									Интеграции с кассой и оплатой
								</div>
								<div class="body-tabs-get__text --text">
									<p>
										Корректные чеки, автоматизация и полное соответствие
										требованиям
									</p>
								</div>
							</div>
							<img
								src="@img/get/06.png"
								alt="Image"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page__poster poster">
		<div class="poster__container">
			<div class="poster__about about-poster">
				<h2 class="about-poster__title --title">
					Бесплатное размещение в Telegram агрегаторе
				</h2>
				<div class="about-poster__text --text">
					<p>
						Ваше заведение автоматически попадает в общую ленту
						Telegram-агрегатора Nomi Это значит, что к вам могут прийти новые
						гости, даже если они раньше не знали о вашем заведении.
					</p>
					<p>
						Даже без активного продвижения вы получаете дополнительный поток
						гостей из Telegram, превращая сервис не только в инструмент
						обслуживания, но и в новый канал привлечения клиентов.
					</p>
				</div>
				<a
					data-fls-button
					href="#"
					class="about-poster__button button --icon-telegram button--white button--lg"
				>
					Открыть демо в Telegram
				</a>
			</div>
			<div class="poster__image">
				<img
					src="@img/poster/image.png"
					alt="Image"
				/>
			</div>
		</div>
	</section>
	<section class="page__rates rates">
		<div class="rates__container">
			<h2 class="rates__title --title">Наши тарифы</h2>
			<div class="rates__cards">
				<article class="rates__card card-rates">
					<div class="card-rates__head">
						<h3 class="card-rates__title --subtitle">Start</h3>
						<div class="card-rates__text --text">
							<p>
								Небольшие кафе, кофейни, фудкорты, баристы-одиночки, тест
								запуска без сложных функций.
							</p>
						</div>
						<div class="card-rates__price">1 500₽</div>
						<a
							data-fls-button
							href="#"
							class="card-rates__button button button--black button--fw button--lg"
						>
							Выбрать тариф
						</a>
					</div>
					<div class="card-rates__below">
						<div class="card-rates__label">Что входит в тариф:</div>
						<ul class="card-rates__list">
							<li class="card-rates__item-list --icon-check">Загрузка меню</li>
							<li class="card-rates__item-list --icon-check">
								Приём заказов через Telegram-бот
							</li>
							<li class="card-rates__item-list --icon-check">Онлайн-оплата</li>
							<li class="card-rates__item-list --icon-check">
								Уведомления о заказах
							</li>
							<li class="card-rates__item-list --icon-check">
								Базовая аналитика заказов
							</li>
							<li class="card-rates__item-list --icon-check">
								Техподдержка по чату
							</li>
						</ul>
					</div>
				</article>
				<article class="rates__card card-rates">
					<div class="card-rates__head">
						<h3 class="card-rates__title --subtitle">Business</h3>
						<div class="card-rates__text --text">
							<p>
								Рестораны, бары, сети из 1–3 точек, которым нужны дополнительные
								сценарии и маркетинг.
							</p>
						</div>
						<div class="card-rates__price">3 000₽</div>
						<a
							data-fls-button
							href="#"
							class="card-rates__button button button--fw button--white button--lg"
						>
							Выбрать тариф
						</a>
					</div>
					<div class="card-rates__below">
						<div class="card-rates__label">Что входит в тариф:</div>
						<ul class="card-rates__list">
							<li class="card-rates__item-list --icon-check">Всё из Start</li>
							<li class="card-rates__item-list --icon-check">
								Загрузка меню через Excel
							</li>
							<li class="card-rates__item-list --icon-check">
								Интеграции с кассами
							</li>
							<li class="card-rates__item-list --icon-check">
								Отдельные роли для сотрудников
							</li>
							<li class="card-rates__item-list --icon-check">
								Настройка доставки и бронирования
							</li>
							<li class="card-rates__item-list --icon-check">
								Рассылки в Telegram
							</li>
							<li class="card-rates__item-list --icon-check">
								Расширенная аналитика и отчёты
							</li>
						</ul>
					</div>
				</article>
				<article class="rates__card card-rates">
					<div class="card-rates__head">
						<h3 class="card-rates__title --subtitle">Enterprise</h3>
						<div class="card-rates__text --text">
							<p>
								Сети от 5 точек, крупные рестораны, бренды с кастомными
								процессами
							</p>
						</div>
						<div class="card-rates__price">от 6 000₽</div>
						<a
							data-fls-button
							href="#"
							class="card-rates__button button button--black button--fw button--lg"
						>
							Выбрать тариф
						</a>
					</div>
					<div class="card-rates__below">
						<div class="card-rates__label">Что входит в тариф:</div>
						<ul class="card-rates__list">
							<li class="card-rates__item-list --icon-check">
								Всё из Business
							</li>
							<li class="card-rates__item-list --icon-check">
								Настройка цвета и дизайна
							</li>
							<li class="card-rates__item-list --icon-check">
								White-label версия
							</li>
							<li class="card-rates__item-list --icon-check">
								Приоритетная поддержка
							</li>
						</ul>
					</div>
				</article>
			</div>
		</div>
	</section>
	<section class="page__faq faq">
		<div class="faq__container">
			<div class="faq__body">
				<h2 class="faq__title --title">FAQ</h2>
				<div
					data-fls-spollers
					data-fls-spollers-one
					class="faq__spollers spollers"
				>
					<details class="spollers__item">
						<summary class="spollers__title">
							<div class="spollers__inner-title">
								<span>01</span>
								Это будет моё приложение?
							</div>
						</summary>
						<div class="spollers__body --text">
							<p class="n-m">Да.</p>
							<p class="n-m">
								Telegram-бот, аккаунт, клиенты и база заказов полностью ваши.
							</p>
							<p class="n-m">
								Мы лишь обеспечиваем стабильную работу сервера и поддерживаем
								программный код.
							</p>
						</div>
					</details>
					<details
						data-fls-spollers-open
						class="spollers__item"
					>
						<summary class="spollers__title">
							<div class="spollers__inner-title">
								<span>02</span>
								Как настроить приложение: меню, доставку, акции?
							</div>
						</summary>
						<div class="spollers__body --text">
							<p>
								Мы постарались сделать настройку максимально простой и понятной.
								Интерфейс личного кабинета интуитивный, а внутри есть пошаговые
								подсказки и мини-обучение, которые помогают разобраться с
								настройками.
							</p>
							<p class="n-m">Кроме этого, вам доступны:</p>
							<ul>
								<li>· Подробная документация со скриншотами</li>
								<li>· Короткие видео-инструкции по каждому разделу</li>
							</ul>
							<p>
								А если в процессе настройки всё же возникнут вопросы, наша
								служба поддержки поможет и подскажет.
							</p>
						</div>
					</details>
					<details class="spollers__item">
						<summary class="spollers__title">
							<div class="spollers__inner-title">
								<span>03</span>
								Подписка — и все?
							</div>
						</summary>
						<div class="spollers__body --text">
							<p class="n-m">Да.</p>
							<p class="n-m">Мы не берём комиссию с заказов или оплат.</p>
							<p class="n-m">
								Только фиксированная ежемесячная подписка, которая даёт полный
								доступ ко всему функционалу сервиса.
							</p>
						</div>
					</details>
					<details class="spollers__item">
						<summary class="spollers__title">
							<div class="spollers__inner-title">
								<span>04</span>
								Как делать рассылки и акции через Telegram-бота?
							</div>
						</summary>
						<div class="spollers__body --text">
							<p class="n-m">
								Вы можете отправлять уведомления всем клиентам, которые
								запустили вашего бота.
							</p>
							<p class="n-m">
								Сообщения невозможно пропустить - при новом уведомлении чат
								поднимается вверх списка диалогов, в отличие от пушей мобильных
								приложений, которые часто игнорируются.
							</p>
						</div>
					</details>
					<details class="spollers__item">
						<summary class="spollers__title">
							<div class="spollers__inner-title">
								<span>05</span>
								Как гостю зарегистрироваться в мини-приложении?
							</div>
						</summary>
						<div class="spollers__body --text">
							<p class="n-m">Никаких регистраций.</p>
							<p>
								Гость просто делится своей Telegram-карточкой контакта и
								автоматически появляется в системе и клиентской базе вашего
								заведения.
							</p>
						</div>
					</details>
				</div>
			</div>
		</div>
	</section>
</main>
