<script
	type="module"
	src="@components/pages/home/home.js"
></script>
<link
	rel="stylesheet"
	href="@components/pages/home/home.scss"
/>

<main class="page page--home">
	<section class="page__decide decide">
		<div class="decide__container">
			<h2 class="decide__title --title">Какие задачи мы решаем</h2>
			<div
				data-fls-slider
				class="decide__slider swiper"
			>
				<div class="decide__wrapper swiper-wrapper">
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/01.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Сложно и дорого запустить своё приложение или сайт
							</h3>
							<div class="item-decide__text --text">
								<p>
									Разработка занимает месяцы, требует команды и бюджета. Из-за
									этого большинство заведений остаются без цифрового канала
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/02.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Отсутствие прямого контакта с гостем
							</h3>
							<div class="item-decide__text --text">
								<p>
									Гости заказывают через офлайн-меню или агрегаторов - данные о
									них теряются, лояльность не растёт
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/03.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Нет своего канала коммуникации с клиентами
							</h3>
							<div class="item-decide__text --text">
								<p>
									Оффлайн-точки и соцсети не позволяют делать точечные
									уведомления и рассылки
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/04.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Невозможно быстро обновлять меню и акции
							</h3>
							<div class="item-decide__text --text">
								<p>
									Заведения зависят от дизайнера и верстальщика. Обновления
									растягиваются на дни
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/05.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">Мало повторных визитов</h3>
							<div class="item-decide__text --text">
								<p>
									Легче удерживать существующего гостя, чем привлекать нового -
									но инструментов нет
								</p>
							</div>
						</div>
					</article>
					<article class="decide__item item-decide swiper-slide">
						<img
							src="@img/decide/06.png"
							alt="Image"
						/>
						<div class="item-decide__content">
							<h3 class="item-decide__title">
								Гости ждут официанта и не любят звонить
							</h3>
							<div class="item-decide__text --text">
								<p>
									Нет удобного способа бронировать, оплачивать или делать заказ
									заранее
								</p>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</main>
