.fls-preloader {
	position: fixed;
	inset: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	transition:
		opacity 0.8s ease,
		visibility 0.8s ease;
}

.fls-preloader__body {
	padding: 1rem;
	max-width: 31.25rem;
	display: flex;
	flex-direction: column;
}

.fls-preloader__counter {
	line-height: 1;
	font-family: $fontHalvarBreit;
	@include adaptiveValue("font-size", 160, 60);
}

.fls-preloader__line {
	margin-top: 1rem;
	width: 100%;
	height: 0.8rem;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	@media (max-width: toEm($mobile)) {
		height: 0.4rem;
	}
}

.fls-preloader__line span {
	display: block;
	height: 100%;
	width: 0%;
	background-color: $primaryColor;
	transition: width 0.2s ease;
}

[data-fls-preloader-loaded] .fls-preloader {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
