.footer {
	// .footer__container
	&__container {
		display: grid;
		@include adaptiveValue("gap", 20, 10);
		@media (min-width: toEm($tablet)) {
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: toEm($mobileSmall)) and (max-width: toEm($tablet)) {
			grid-template-rows: repeat(3, 1fr);
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .footer__main
	// .footer__link
	&__main,
	&__link {
		overflow: hidden;
		border-radius: 24px;
		transition: box-shadow 0.3s;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
		@media (min-width: toEm($mobile)) {
			@media (any-hover: hover) {
				&:hover {
					box-shadow:
						rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
						rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
				}
			}
		}
		@media (max-width: toEm($mobile)) {
			border-radius: 16px;
		}
	}
	// .footer__main
	&__main {
		background-color: $primaryColor;
		@media (min-width: toEm($mobileSmall)) {
			grid-row: span 2 / span 2;
		}
	}
}
.main-footer {
	color: #fff;
	@include adaptiveValue("padding-top", 24, 14, 0, 1800, 320);
	@include adaptiveValue("padding-inline", 35, 18, 0, 1800, 320);
	span {
		font-size: 15px;
		line-height: 1.35;
		display: inline-flex;
		letter-spacing: -0.32px;
		@include adaptiveValue("margin-bottom", 35, 15);
	}
	// .main-footer__below
	&__below {
		gap: 20px;
		display: flex;
		align-items: start;
		flex-direction: column;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 35);
		}
	}
	// .main-footer__title
	&__title {
		max-width: 335px;
		@media (min-width: toEm($mobileSmall)) {
			word-break: break-all;
		}
	}
	// .main-footer__button
	&__button {
		@media (max-width: toEm($mobileSmall)) {
			width: 100%;
			&.button {
				padding: 0;
			}
		}
	}
	// .main-footer__image
	&__image {
		width: 100%;
	}
}
.link-footer {
	row-gap: 20px;
	display: grid;
	position: relative;
	background-color: #fff;
	grid-template-rows: 1fr auto;
	@include adaptiveValue("padding-block", 24, 14, 0, 1800, 320);
	@include adaptiveValue("padding-inline", 35, 18, 0, 1800, 320);
	span {
		opacity: 0.59;
		font-size: 15px;
		max-width: 160px;
		line-height: 1.35;
		letter-spacing: -0.32px;
	}
	&::before {
		top: 20px;
		right: 14px;
		width: 30px;
		display: flex;
		aspect-ratio: 1;
		font-size: 14px;
		position: absolute;
		border-radius: 50%;
		align-items: center;
		color: $primaryColor;
		justify-content: center;
	}
	&--02 {
		@media (min-width: toEm($tablet)) {
			grid-row-start: 2;
			grid-column-start: 2;
		}
		@media (min-width: toEm($mobileSmall)) and (max-width: toEm($tablet)) {
			grid-column-start: 2;
		}
	}
	&--03 {
		@media (min-width: toEm($tablet)) {
			grid-row-start: 1;
			grid-column-start: 3;
		}
		@media (min-width: toEm($mobileSmall)) and (max-width: toEm($tablet)) {
			grid-row-start: 3;
		}
	}
	&--04 {
		color: #fff;
		span {
			opacity: 1;
		}
		&::before {
			color: #fff;
		}
		background-color: $mainColor;
		@media (min-width: toEm($tablet)) {
			grid-column-start: 3;
		}
		@media (min-width: toEm($mobileSmall)) and (max-width: toEm($tablet)) {
			grid-row-start: 3;
		}
	}
	@media (max-width: toEm($mobileSmall)) {
		row-gap: 90px;
	}
	// .link-footer__title
	&__title {
		word-break: break-all;
		&.--subtitle {
			@include adaptiveValue("font-size", 40, 27, 2, $containerWidth, 991.98);
			@media (max-width: toEm($tablet)) {
				@include adaptiveValue("font-size", 27, 18, 2, 991.98, 479.98);
			}
		}
	}
}
